test/
DAWG-demo/
djangotutorial
kadi/events/cache
kadi/events/migrations
*.log
web2py
build/
_build/
dist/
*.pkl
*.db3
*.h5
MANIFEST
GIT_VERSION
kadi.egg-info/
*.pyc
*~

docs/.buildinfo
docs/_modules/
docs/_sources/
docs/_static/

.flake8
.idea
.vscode
cmds*.dat
cmds*.txt

.ipynb_checkpoints
