# Configuration file for task_schedule.pl to do a daily check of the kadi cron jobs.

subject           Kadi check cron jobs
timeout           3000              # Default tool timeout
heartbeat_timeout 10                # Maximum age of heartbeat file (seconds)
iterations        1                 # Run once then shut down task_schedule
print_error       1                 # Print full log of errors
disable_alerts    0                 # Don't disable alerts since this jobs runs just once/day
loud              0                 # Run loudly or quietly (production mode)

# Data files and directories.  The *_dir vars can have $ENV{} vars which
# get interpolated.  (Note lack of task name after TST_DATA because this is just for test).

data_dir     $ENV{SKA}/data/kadi       # Data file directory
log_dir      $ENV{SKA}/data/kadi/logs  # Log file directory
heartbeat    task_sched_heartbeat_check_cron

# Email addresses that receive an alert if there was a severe error in running jobs.

alert       aca@cfa.harvard.edu

# Define task parameters

<task kadi_check_cron>
      check_cron * * * * *
      <check>
        <error>
          #    File           Expression
          #  ----------      ---------------------------
             kadi.log     error
             kadi.log     warning
             kadi.log     fatal
        </error>
      </check>
</task>
