table { 
  width:auto;
}
.row {
    max-width: 100%;
}

body.with-background {
    background-image: url(/static/images/background.jpg);
    background-repeat: no-repeat;
}

iframe.mica {
    width: 100%;
    height: 1500px;
}

table.srclist th {
    white-space: nowrap
}

table.srclist thead tr .SortBy {
    background-color: #8dbdd8;
}

.tooltip {
  display: none;
  position: absolute;
  z-index: 999;
  font-weight: normal;
  font-size: 0.77778rem;
  line-height: 1.3;
  padding: 0.66667rem;
  max-width: 85%;
  left: 50%;
  width: 100%;
  color: #fff;
  background: #333; }

.tooltip > .nub {
    display: block;
    left: 5px;
    position: absolute;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: transparent transparent #333 transparent;
    top: -10px; }
.tooltip > .nub.rtl {
      left: auto;
      right: 5px; }
.tooltip.radius {
    border-radius: 3px; }
.tooltip.round {
    border-radius: 1000px; }
.tooltip.round > .nub {
      left: 2rem; }
.tooltip.opened {
    color: #008CBA !important;
    border-bottom: dotted 1px #004054 !important; }
    
/* 
img { padding:2; }
td {  padding:1; }
th {  padding:0;
      text-align:center;
   }
td.alignright {  text-align:right; }

a img { border:black solid thin;
        padding:1;  }
a:hover img { border:blue solid thin;  }

table.summary { 
  border-spacing: 5px 0px;
  border-width: 3px;
  border-style: double;
}
table.style1 { 
  border-spacing: 10px 0px;
  border-width: 3px;
  border-style: double;
}
table.uncertainty td { 
  font-size:70%;
  padding:0;
}

A:link {text-decoration: underline; color: blue}
A:visited {text-decoration: underline; color: blue}
A:hover {text-decoration: underline; color: red;}

p.error { color: red; }

table.srclist {
	border-width: thin thin thin thin;
	border-spacing: 1px;
	border-style: outset outset outset outset;
	border-color: gray gray gray gray;
	border-collapse: separate;
	background-color: white;
}
table.srclist th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 3px 1px 3px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	background-color: white;
}
table.srclist td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 3px 1px 3px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	background-color: white;
        text-align: right;
        
}

table.srclisthdr {
	border-width:0px ;
	border-spacing: 0px;
	border-style: none;
}
table.srclisthdr th {
	border-width: 0px;
	padding: 0px;
	border-style: none;
}
table.srclisthdr td {
	border-width: 0px;
	padding: 0px;
	border-style: none;
}

input.sortbybutton
{
   font-family:Arial,sans-serif;
   font-weight:bold;
   text-decoration:underline;
   color:#3333FF;
   background-color:transparent;
   border-style:none;
   border-width:4px;
}
*/
