{% extends "base.html" %}

{% block moreheader %}
<h2> {{ model_description }} list </h2>
{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <table class="srclist">
      <thead>
        <tr>
          {% for header in headers %}
          <th {{header.header_class|safe}}> {{ header.sort_icon|safe }} {{ header.field_name }} </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for index, event_row in event_rows %}
        <tr>
          {% for val in event_row %}
          <td>
            {% if forloop.first %}
            <a href="/kadi/events/{{ model_name }}/{{val}}?filter={{filter}}&sort={{sort}}&index={{index}}">{{ val }}</a>
            {% else %}
            {{ val }}
            {% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block navbuttons %}
<table>
  <tr>
    <td>
      <img src="/static/images/empty_32.gif">
      {% if is_paginated %}
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&filter={{filter}}&sort={{sort}}">
          <img src="/static/images/left_grey_32.png"></a>
        {% else %}
          <img src="/static/images/empty_32.gif">
        {% endif %}

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}&filter={{filter}}&sort={{sort}}">
            <img src="/static/images/right_grey_32.png"></a>
        {% else %}
          <img src="/static/images/empty_32.gif">
        {% endif %}
        <img src="/static/images/empty_32.gif">
      {% endif %}
    </td>
    <td>
      <form action="/kadi/events/{{model_name}}/list" method="get">
      <span data-tooltip aria-haspopup="true" class="has-tip" title="Tooltips are awesome, you should totally use them!">Filter:</span>
        <input type="text" name="filter" value="{{filter}}" size="70">
      </form>
    </td>
  </tr>
  {% if is_paginated %}
  <tr>
    <td>
      <span class="page-current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
    </td>
    <td></td>
  </tr>
  {% endif %}
</table>

{% endblock %}
