<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <link rel="stylesheet" HREF="/static/kadi.css" TYPE="text/css" MEDIA="screen">
      <title>{% block title %}Kadi Browse{% endblock %}</title>

      <style type="text/css">
      #header {
      }
      #leftcolumn {
        position: absolute;
        margin-left: 0px;
        padding: 0px;
        margin-right: 10px;
      }
      #content {
        margin-left: 8em;
        padding: 0px;
        margin-right: 0px;
      }
      </style>
  </head>

<body>
<div id="header">
  {% block titlebar %}
    <a href="/"><img style="border:none; padding: 2px 0px 5px 0px" src="/images/cosmos_logo_short.jpg"></a>
  {% endblock %}

  {% block navbuttons %}
  {% endblock %}

  {% block moreheader %}
  {% endblock %}
</div>

  {% block content %}
  {% endblock %}

</body>
</html>
