<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/foundation/css/normalize.css" />
    <link rel="stylesheet" href="/static/foundation/css/foundation.css" />
    <link rel="stylesheet" href="/static/kadi.css" />
    <script src="/static/foundation/js/vendor/modernizr.js"></script>
    <title>{% block title %}Kadi Browse{% endblock %}</title>
  </head>

<body>
<div id="header">
  {% block titlebar %}
  <div class="row">
    <div class="large-12 medium-12 columns">
      <div class="panel">
        <div class="row">

          <div class="large-2 medium-2 columns">
            <a href="/kadi/events">
              <img style="border:none; padding: 2px 30px 0px 0px" width=150px
                   src="/static/images/ska.png"></img>
            </a>
          </div>
          <div class="large-6 medium-6 columns">
            <h2>Kadi Event Browser</h2>
          </div>
          <div class="large-4 medium-4 columns">
          </div>
        </div> <!-- row -->
      </div>
    </div>
  </div>
  {% endblock %}

  {% block navbuttons %}
  {% endblock %}

  {% block moreheader %}
  {% endblock %}
</div>

  {% block content %}
  {% endblock %}

</body>
</html>
