<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <link rel="stylesheet" HREF="/static/kadi.css" TYPE="text/css" MEDIA="screen">
      <title>{% block title %}Kadi Browse{% endblock %}</title>

      <style type="text/css">
      #header {
      }
      #leftcolumn {
        position: absolute;
        margin-left: 0px;
        padding: 0px;
        margin-right: 10px;
      }
      #content {
        margin-left: 8em;
        padding: 0px;
        margin-right: 0px;
      }
      </style>
  </head>

<body>
<div id="header">
  {% block titlebar %}
  <table>
    <tr>
      <td>
        <a href="/kadi/events">
          <img style="border:none; padding: 2px 30px 0px 0px" width=75px
               src="/static/images/ska.png">
        </a>
      </td>
      <td>  <span style="font-size:200%">Kadi Event Browser</span> </td>
    </tr>
  </table>
  {% endblock %}

  {% block navbuttons %}
  {% endblock %}

  {% block moreheader %}
  {% endblock %}
</div>

  {% block content %}
  {% endblock %}

</body>
</html>
