<h3 id="{{state_name}}"> {{ title }} </h3>
{% if violations|count %}
    <h4> Violations </h4>
    <table>
        <tr>
            <th> Start </th>
            <th> Stop </th>
        </tr>
        {% for violation in violations %}
            <tr>
                <td> {{ violation.start }} </td>
                <td> {{ violation.stop }} </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% if exclude_intervals|count %}
    <h4> Excluded intervals </h4>
    <table>
        <tr>
            <th> Start </th>
            <th> Stop </th>
            <th> Comment </th>
            <th> Source </th>
        </tr>
        {% for exclude_interval in exclude_intervals %}
            <tr>
                <td> {{ exclude_interval.start }} </td>
                <td> {{ exclude_interval.stop }} </td>
                <td> {{ exclude_interval.comment }} </td>
                <td> {{ exclude_interval.source }} </td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{{ plot_html }}
